<header>
  <nav>
    <a [routerLink]="'/'">Main</a>
    <a [routerLink]="'/orders'">Orders</a>
    <a [routerLink]="'/areas'">Areas</a>
    <a [routerLink]="'/logout'">Logout</a>
    <a [routerLink]="'/login'">Login</a>

    <span> Hello, {{ user.first }} {{ user.last}}!</span>  <!-- Add this line -->
  </nav>

</header>
<main>
  <h1>This is the homepage for WaitersApp</h1>
  <router-outlet />  <!-- Change this line -->
</main>
<footer>
  <p>Copyright &copy; {{ today.getFullYear() }} Dinner and a Movie</p>
</footer>
